<a href="https://colab.research.google.com/github/ihyaulumuddin044/machineLearning/blob/main/categorical_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#mengenal lable Encoding & one hot Enciding

pada lable Encoding, setiap kategori pada setiap kategori feature akan di urutkan secara alfabet dan di presentasikan dengan sebuah nilai integer

In [6]:
import pandas as pd

df = ({
    'country':['India','US','Japan','US','Japan'],
    'age': [44, 34, 46, 35,23],
    'salary': [72000, 65000, 98000, 45000, 34000]
})

df
# print(f'data:{df}')

{'country': ['India', 'US', 'Japan', 'US', 'Japan'],
 'age': [44, 34, 46, 35, 23],
 'salary': [72000, 65000, 98000, 45000, 34000]}