<a href="https://colab.research.google.com/github/ihyaulumuddin044/machineLearning/blob/main/python_lanjutan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# tujuan untuk dapat memahami sepenuhnya bukan hanya bisa!

# variable dalam python

In [ ]:
nama = "Budi"  # String
umur = 25      # Integer
tinggi = 170.5 # Float
is_student = True  # Boolean

In [ ]:
print(nama)
print(umur)
print(tinggi)
print(is_student)

Budi
25
170.5
True

In [ ]:
x = 10
print(x)

10

In [ ]:
int(2)

2

In [ ]:
# operator matematika
a = 10
b = 3

hasil_penjumlahan = a + b
hasil_pengurangan = a - b
hasil_perkalian = a * b
hasil_pembagian = a / b
hasil_modulus = a % b
hasil_pangkat = a ** b

In [ ]:
x = 10
y = 25

if x > 3 and y > 13:
     print("Both conditions are correct")

if x <= 3 or y <= 13:
    print("At least one of the conditions is false")

Both conditions are correct

# Perulangan denga for loop dan while loop

In [ ]:
nama = list("kacang")
for i in  nama:
    print(i)

print(f' \njumlah huruf: {len(nama)}')

k
a
c
a
n
g

jumlah huruf: 6

In [ ]:
numbers = [1, 2, 3, 4, 5,6,7]

for num in numbers:
    if num == 6:
        print("Angka ditemukan! Program berhenti!")
        break
else:
    print("Angka tidak ditemukan.")

Angka ditemukan! Program berhenti!

In [ ]:
n = 0
for n in range(10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
nilai = 68
if nilai>=80:
    print("Selamat! Anda mendapat nilai A")
elif nilai>=60:
    print("Hmm.. Anda mendapat nilai B")
else:
    print("Waduh, Anda mendapat nilai C")

Hmm.. Anda mendapat nilai B

In [ ]:
var_gw = ["@" for i in range(10)]
print(var_gw)

['@', '@', '@', '@', '@', '@', '@', '@', '@', '@']

In [ ]:
#  Bubble sort
numbers = [3, 2, 5, 6, 7, 1]

# Bubble Sort dari besar ke kecil
n = len(numbers)
for i in range(n - 1):
    for j in range(n - 1 - i):
        if numbers[j] < numbers[j + 1]:  # Tukar jika angka lebih kecil
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]

print(numbers)  # Output: [7, 6, 5, 3, 2, 1]


numbers = [3, 2, 5, 6, 7, 1]

# Bubble Sort dari kecil ke besar
n = len(numbers)
for i in range(n - 1):
    for j in range(n - 1 - i):
        if numbers[j] > numbers[j + 1]:  # Tukar jika angka lebih besar
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]

print(numbers)  # Output: [1, 2, 3, 5, 6, 7]

[7, 6, 5, 3, 2, 1]
[1, 2, 3, 5, 6, 7]

In [1]:
def rectangle_info(length, widht):
    mult = length * widht
    print("result: ")
    return mult

rectangle_info(2,10)

result:

20

In [2]:
def rectangle_info(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

result = rectangle_info(2,10)
print(f'area: {result[0]}')
print(f'perimeter: {result[1]}')

area: 20
perimeter: 24

# Dicnionary

In [3]:
# prompt: buakan aku dictionary dan cara mengaksesnya

# Dictionary dalam Python

# Membuat dictionary
my_dict = {
    "nama": "Budi",
    "umur": 25,
    "kota": "Jakarta"
}

# Mengakses nilai dalam dictionary
print(my_dict["nama"])  # Output: Budi
print(my_dict["umur"])  # Output: 25
print(my_dict.get("kota")) # Output: Jakarta

# Menambahkan entri baru
my_dict["pekerjaan"] = "Programmer"
print(my_dict) # Output: {'nama': 'Budi', 'umur': 25, 'kota': 'Jakarta', 'pekerjaan': 'Programmer'}

# Mengubah nilai yang sudah ada
my_dict["umur"] = 26
print(my_dict) # Output: {'nama': 'Budi', 'umur': 26, 'kota': 'Jakarta', 'pekerjaan': 'Programmer'}


# Menghapus entri
del my_dict["kota"]
print(my_dict) # Output: {'nama': 'Budi', 'umur': 26, 'pekerjaan': 'Programmer'}

# Mengecek keberadaan key
if "nama" in my_dict:
    print("Kunci 'nama' ada di dalam dictionary")

# Mengakses semua key
keys = my_dict.keys()
print(keys)  # Output: dict_keys(['nama', 'umur', 'pekerjaan'])

# Mengakses semua values
values = my_dict.values()
print(values) # Output: dict_values(['Budi', 26, 'Programmer'])

# Mengakses semua item (key-value pairs)
items = my_dict.items()
print(items) # Output: dict_items([('nama', 'Budi'), ('umur', 26), ('pekerjaan', 'Programmer')])


# Iterasi melalui dictionary
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

# Contoh lain
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "address": {
        "street": "123 Main St",
        "zip": "10001"
    }
}

print(person["address"]["street"]) # Output: 123 Main St


#Cara lain mengakses elemen dictionary
#Menggunakan metode get()
print(my_dict.get("nama")) #Output: Budi

#Jika key tidak ditemukan maka akan mengembalikan nilai default yang diset
print(my_dict.get("alamat","Tidak Ditemukan")) #Output: Tidak ditemukan

Budi
25
Jakarta
{'nama': 'Budi', 'umur': 25, 'kota': 'Jakarta', 'pekerjaan': 'Programmer'}
{'nama': 'Budi', 'umur': 26, 'kota': 'Jakarta', 'pekerjaan': 'Programmer'}
{'nama': 'Budi', 'umur': 26, 'pekerjaan': 'Programmer'}
Kunci 'nama' ada di dalam dictionary
dict_keys(['nama', 'umur', 'pekerjaan'])
dict_values(['Budi', 26, 'Programmer'])
dict_items([('nama', 'Budi'), ('umur', 26), ('pekerjaan', 'Programmer')])
Key: nama, Value: Budi
Key: umur, Value: 26
Key: pekerjaan, Value: Programmer
123 Main St
Budi
Tidak Ditemukan

In [11]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu["meal_5"] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

In [13]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu["meal_3"] = "Cheeseburger"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna'}

# Iterasi

In [15]:
digits = [0,1,2,3,4,5,6,7,8,9]

for i  in digits:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
x = 0
while x <= 30:
    print(x, end = " ")
    x += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [26]:
n = [1,2,3,4,5,6]

for num in n:
    kali = num * 10
    print(kali)

10
20
30
40
50
60

In [35]:
nums = [1,35,12,24,31,51,70,100]

def count(nums):
    total = 0
    for x in nums:
        if x < 20:
          total += 1
    return total

count(nums)

2